body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*ACTIONS*/
.actions {
    margin-top: 20px;
}

/*Search Result*/
.search-result {
    padding: 10px 0;
    min-height: 160px;
}

    .search-result .label {
        border-radius: 1em;
    }

    .search-result .id {
        font-size: 10px;
    }

    .search-result .title {
        font-weight: bold;
        font-size: 14px;
        word-wrap: break-word;
    }

    .search-result .url {
        font-size: 10px;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.8em;
    }

    .search-result .summary {
        font-size: 10px;
    }

/*Custom Bootstrap Override and Extensions*/
.panel-heading.panel-sm {
    height: 28px;
    padding: 4px 10px;
}

.panel-body.panel-sm {
    padding: 10px;
}
